.jumbotron{
  text-align: center;
}

/* .create{
  display: inline;
} */

/* .grandparent{
  display: inline-block;
}

.input-xs {
  padding: .5rem .4rem;
  font-size: .875rem;
  line-height: .5;
  border-radius: .2rem;
} */

.farRightCol{
  color: navy;
  background-color: navy;
}

/* .value {
  background-color: navy;
} */
